<div class="left-pane">

    <ul class="left-pane-list">
        <li> {{#link-to 'allposts'}} All Posts {{/link-to}} </li>
        <li> {{#link-to 'myposts'}} My Posts {{/link-to}} </li>
        <li> {{#link-to 'users'}} Users {{/link-to}} </li>
        <li> {{#link-to 'settings'}} Settings {{/link-to}} </li>
        <li> Sign out </li>
    </ul>

</div>

{{yield}}