<div class="left-pane">

    <ul class="left-pane-list">
        <li> {{#link-to 'posts'}} Blog Posts {{/link-to}} </li>
        <li> {{#link-to 'settings'}} Settings {{/link-to}} </li>
        <li> Sign out </li>
    </ul>

</div>

{{yield}}