
<div class="post-list">
    {{#each posts as |post|}}
        {{#unless post.isNew}}
            {{post-card post=post}}
        {{/unless}}
    {{else}}
        No posts yet.
    {{/each}}
</div>


{{yield}}