<div class="modal">
    <div class="modal-dialogue">
        <div class="modal-content">

            <div class="modal-header">
                <h2> {{post.title}} </h2>
                <span class="close"> {{#link-to 'posts'}} X {{/link-to}} </span>
            </div>

            <p> {{post.content}} </p>

            <ul class="tags"> {{#each post.tagsArray as |tag|}} <li> {{tag}} </li> {{/each}} </ul>
        </div>

    </div>
</div>

{{yield}}