{{!-- The following component displays Ember's default welcome message. --}}
{{!-- {{welcome-page}} --}}
{{!-- Feel free to remove this! --}}

{{top-pane}}

{{left-pane}}

<div class="app-outlet">
    {{outlet}}
</div>
