
<div class="post-list-header">

    <h2> Blog Posts </h2>

    <button class="btn-new-post"> {{#link-to 'posts.new'}} + New Post {{/link-to}} </button>

</div>

{{post-list posts=model}}
    

{{outlet}}